@using phu.Models;
@model phu.Models.evenement

@{
    ViewBag.Title = "Edition";
}
@{
    phu_bddEntities db = new phu_bddEntities();
    int isAdmin = (from i in db.UserProfile
                   where i.UserName == WebSecurity.CurrentUserName
                   select i.user.FirstOrDefault().admin).FirstOrDefault();
}
@if (Request.IsAuthenticated && isAdmin == 1)
{
using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>evenement</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            Adresse :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.localisation.address)
            @Html.ValidationMessageFor(model => model.localisation.address)
        </div>
        <div class="editor-label">
            Code Postal :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.localisation.cp)
            @Html.ValidationMessageFor(model => model.localisation.cp)
        </div>
        <div class="editor-label">
            Ville :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.localisation.city)
            @Html.ValidationMessageFor(model => model.localisation.city)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.max_people)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.max_people)
            @Html.ValidationMessageFor(model => model.max_people)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div id="DivTinyMCE">
            <textarea name="contentDescription" style="height:250px">@Model.description</textarea>
        </div>

        <p>
            <input type="submit" value="Sauvegarder" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        theme: "modern",
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor "
    });
</script>
}
else
{
    Response.Redirect("~/Admin/Login");
}